          <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% for item in news %}
                <tr{% if forloop.index > 3 %} class="collapse news-more"{% endif %}>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
            {% if news_size > 3 %}
            <button class="btn btn-sm z-depth-0 news-toggle" type="button" data-toggle="collapse" data-target=".news-more" aria-expanded="false">Show all news</button>
            {% endif %}
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
